    Doubts
        loc 
        iloc
    Dataframe => Explain again
    iterable
    Itertools
    Pandas Practice Questions

    File Handling

    Portal Questions
    () => moon bracket => whenever we have function we use this
    [] => square bracket => for slicing we use this

In [1]:
import numpy as np
import pandas as pd

In [16]:
df_bigmart=pd.read_csv('../data/bigmart_data_10.csv',index_col='idx')
df_bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
idx,,,,,,,,,,,,
a,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
b,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
c,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
d,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
e,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

    df.loc[start_row_label:end_row_label:step,start_col_label,end_col_label,step]

In [17]:
df_bigmart.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [18]:
df_bigmart.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'], dtype='object', name='idx')

In [5]:
df_bigmart.shape

(8523, 12)

In [26]:
df_bigmart.loc[['a', 'b', 'c', 'd', 'e'],['Item_Identifier', 'Item_Weight', 'Item_Fat_Content','Item_MRP']]

    Item_Identifier  Item_Weight Item_Fat_Content  Item_MRP
idx
a             FDA15         9.30          Low Fat  249.8092
b             DRC01         5.92          Regular   48.2692
c             FDN15        17.50          Low Fat  141.6180
d             FDX07        19.20          Regular  182.0950
e             NCD19         8.93          Low Fat   53.8614

In [29]:
cols=list(df_bigmart.columns)
cols

['Item_Identifier',
 'Item_Weight',
 'Item_Fat_Content',
 'Item_Visibility',
 'Item_Type',
 'Item_MRP',
 'Outlet_Identifier',
 'Outlet_Establishment_Year',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type',
 'Item_Outlet_Sales']

In [31]:
for i in range(len(cols)):
    print(f' index =>{i}  | value =>{cols[i]}')

 index =>0  | value =>Item_Identifier
 index =>1  | value =>Item_Weight
 index =>2  | value =>Item_Fat_Content
 index =>3  | value =>Item_Visibility
 index =>4  | value =>Item_Type
 index =>5  | value =>Item_MRP
 index =>6  | value =>Outlet_Identifier
 index =>7  | value =>Outlet_Establishment_Year
 index =>8  | value =>Outlet_Size
 index =>9  | value =>Outlet_Location_Type
 index =>10  | value =>Outlet_Type
 index =>11  | value =>Item_Outlet_Sales

In [41]:
df_bigmart.iloc[::2,0:11:2]

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Type
idx,,,,,,
a,FDA15,Low Fat,Dairy,OUT049,Medium,Supermarket Type1
c,FDN15,Low Fat,Meat,OUT049,Medium,Supermarket Type1
e,NCD19,Low Fat,Household,OUT013,High,Supermarket Type1
g,FDO10,Regular,Snack Foods,OUT013,High,Supermarket Type1
i,FDH17,Regular,Frozen Foods,OUT045,NaN,Supermarket Type1
k,FDY07,Low Fat,Fruits and Vegetables,OUT049,Medium,Supermarket Type1

In [32]:
rows=list(df_bigmart.index)
rows

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [33]:
for i in range(len(rows)):
    print(f' index =>{i}  | value =>{rows[i]}')

 index =>0  | value =>a
 index =>1  | value =>b
 index =>2  | value =>c
 index =>3  | value =>d
 index =>4  | value =>e
 index =>5  | value =>f
 index =>6  | value =>g
 index =>7  | value =>h
 index =>8  | value =>i
 index =>9  | value =>j
 index =>10  | value =>k

In [34]:
df_bigmart.iloc[:,:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
idx,,,,,,,,,,,,
a,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
b,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
c,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
d,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
e,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
f,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
g,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
h,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
i,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
j,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
k,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266

    Class is a collection of attribute/features and methods
        Methods => functions
        Attribute/feature/property =>

        Class  =>   Dog
            Attriubute / Properties / Features
                Color
                Breed
            Methods / Functions 
                Bark
                running

In [ ]:
df_bigmart.shape

In [ ]:
pd.DataFrame()

    Iterable
        initialization
        condition
        iteration

In [42]:
for i in 1:
    print(i)

TypeError: 'int' object is not iterable

In [43]:
for i in 'siraj':
    print(i)

s
i
r
a
j

In [44]:
for i in 11.5:
    print(i)

TypeError: 'float' object is not iterable

In [45]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

    Functions
        Builtin => it is there by default
        User Define

In [46]:
! pip install numpy

Requirement already satisfied: numpy in a:\work\acciojob\python\da3\.env\lib\site-packages (1.26.2)

In [47]:
import numpy as np

In [49]:
df_bigmart=pd.read_csv('../data/bigmart_data.csv')
df_bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

    Write a python script to get average price for each item type

In [52]:
df_bigmart.groupby('Item_Type').count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,648,536,648,648,648,648,648,463,648,648,648
Breads,251,204,251,251,251,251,251,179,251,251,251
Breakfast,110,89,110,110,110,110,110,79,110,110,110
Canned,649,539,649,649,649,649,649,471,649,649,649
Dairy,682,566,682,682,682,682,682,496,682,682,682
Frozen Foods,856,718,856,856,856,856,856,615,856,856,856
Fruits and Vegetables,1232,1019,1232,1232,1232,1232,1232,883,1232,1232,1232
Hard Drinks,214,183,214,214,214,214,214,148,214,214,214
Health and Hygiene,520,430,520,520,520,520,520,367,520,520,520
Household,910,759,910,910,910,910,910,649,910,910,910
Meat,425,337,425,425,425,425,425,309,425,425,425
Others,169,137,169,169,169,169,169,123,169,169,169
Seafood,64,51,64,64,64,64,64,46,64,64,64
Snack Foods,1200,988,1200,1200,1200,1200,1200,868,1200,1200,1200
Soft Drinks,445,374,445,445,445,445,445,312,445,445,445
Starchy Foods,148,130,148,148,148,148,148,105,148,148,148

In [56]:
df_bigmart.groupby('Item_Type')[['Item_MRP','Item_Weight']].mean()

                         Item_MRP  Item_Weight
Item_Type
Baking Goods           126.380766    12.277108
Breads                 140.952669    11.346936
Breakfast              141.788151    12.768202
Canned                 139.763832    12.305705
Dairy                  148.499208    13.426069
Frozen Foods           138.503366    12.867061
Fruits and Vegetables  144.581235    13.224769
Hard Drinks            137.077928    11.400328
Health and Hygiene     130.818921    13.142314
Household              149.424753    13.384736
Meat                   139.882032    12.817344
Others                 132.851430    13.853285
Seafood                141.841719    12.552843
Snack Foods            146.194934    12.987880
Soft Drinks            131.492506    11.847460
Starchy Foods          147.838023    13.690731

In [62]:
df_bigmart[['Item_Fat_Content','Item_MRP']]

     Item_Fat_Content  Item_MRP
0             Low Fat  249.8092
1             Regular   48.2692
2             Low Fat  141.6180
3             Regular  182.0950
4             Low Fat   53.8614
...               ...       ...
8518          Low Fat  214.5218
8519          Regular  108.1570
8520          Low Fat   85.1224
8521          Regular  103.1332
8522          Low Fat   75.4670

[8523 rows x 2 columns]

In [63]:
df_bigmart.groupby('Item_Type')[['Item_MRP','Item_Weight']].agg({'Item_MRP':'max','Item_Weight':'mean'})

                       Item_MRP  Item_Weight
Item_Type
Baking Goods           265.5568    12.277108
Breads                 263.6594    11.346936
Breakfast              234.9300    12.768202
Canned                 266.8884    12.305705
Dairy                  266.6884    13.426069
Frozen Foods           264.8910    12.867061
Fruits and Vegetables  264.2252    13.224769
Hard Drinks            261.4278    11.400328
Health and Hygiene     266.6884    13.142314
Household              264.7910    13.384736
Meat                   261.5936    12.817344
Others                 254.9040    13.853285
Seafood                240.2880    12.552843
Snack Foods            264.9568    12.987880
Soft Drinks            263.5910    11.847460
Starchy Foods          263.0252    13.690731

    File Handling
        Open
        Read / write
        Close

In [75]:
file=open('../data/test.txt','r')

In [68]:
file.read()

'My name is Siraj Ali.\nI am from Lucknow.'

In [87]:
file=open('../data/test.txt','r')
file.readline()

'India'

In [91]:
file=open('../data/test.txt','r')
file.readlines()

['India\n', 'AcciojobMy name is Shiraj']

In [89]:
file=open('../data/test.txt','w')
file.write('India')
file.close()

In [90]:
file=open('../data/test.txt','a')
file.write('My name is Shiraj')
file.close()

    With => File Context Manager

In [92]:
with open('../data/test.txt','r') as file:
    content = file.read()
    print(content)

India
AcciojobMy name is Shiraj

In [93]:
import os

In [94]:
dir(os)

['DirEntry',
 'EX_OK',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_blocking',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'listdrives',
 'listmounts',
 'listvolumes',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_blocking',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [99]:
os.getcwd()

'a:\\work\\acciojob\\python\\da3\\code'

In [100]:
os.listdir('../data/csv/')

['bank-additional.csv',
 'bg.csv',
 'bigmart_data.csv',
 'bigmart_data_10.csv',
 'student_records.csv',
 'super_store.xlsx',
 'tik_tok.csv']

In [107]:
dfs={}
for file in os.listdir('../data/csv/'):
    if file[-3:]=='csv':
        dfs[file[:-4]]=pd.read_csv(f'../data/csv/{file}')

In [108]:
dfs.keys()

dict_keys(['bank-additional', 'bg', 'bigmart_data', 'bigmart_data_10', 'student_records', 'tik_tok'])

In [111]:
dfs['student_records']

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            65        No
8    Judy          NaN        Y             25            33        No
9   Chris            D        U             25            15        NO

In [112]:
df_bigmart=pd.read_csv('../data/csv/bigmart_data.csv')
df_bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [114]:
df_bigmart['Item_Weight'].isnull().sum()

1463

In [119]:
df_bigmart['Item_Weight'].value_counts(dropna=False,normalize=True)[np.nan]*100

17.165317376510618

In [121]:
df_bigmart['Outlet_Size'].value_counts(dropna=False)

Outlet_Size
Medium    2793
NaN       2410
Small     2388
High       932
Name: count, dtype: int64

    If we are getting High and medium => acceptable
    if we are geeting nan Small =>  Non Acceptable
    np.where(logical_test, value_if_true,value_if_false)
    np.where(logical_test, value_if_true,np.where())

In [128]:
df_bigmart['Is_Acceptable']=np.where(df_bigmart['Outlet_Size'] == 'High' ,'Acceptable',np.where(df_bigmart['Outlet_Size'] == 'Medium' ,'Acceptable','Not Acceptable'))
df_bigmart[['Is_Acceptable','Outlet_Size']]

       Is_Acceptable Outlet_Size
0         Acceptable      Medium
1         Acceptable      Medium
2         Acceptable      Medium
3     Not Acceptable         NaN
4         Acceptable        High
...              ...         ...
8518      Acceptable        High
8519  Not Acceptable         NaN
8520  Not Acceptable       Small
8521      Acceptable      Medium
8522  Not Acceptable       Small

[8523 rows x 2 columns]

In [129]:
df=df_bigmart

In [130]:
oldest_outlet = df['Outlet_Establishment_Year'].min()
newest_outlet = df['Outlet_Establishment_Year'].max()
oldest_outlet_performance = df[df['Outlet_Establishment_Year'] == oldest_outlet]['Item_Outlet_Sales'].mean()
newest_outlet_performance = df[df['Outlet_Establishment_Year'] == newest_outlet]['Item_Outlet_Sales'].mean()

In [131]:
oldest_outlet,newest_outlet,oldest_outlet_performance,newest_outlet_performance

(1985, 2009, 2483.6774743677374, 1995.498739224138)

In [132]:
import datetime as dt

In [136]:
today=dt.datetime.now()
today

datetime.datetime(2023, 12, 28, 22, 29, 20, 280260)

In [135]:
today.month

12